<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>C_Programacio</servlet-name>
        <servlet-class>ControladorL.C_Programacio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Login</servlet-name>
        <servlet-class>ControladorL.C_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventario_C</servlet-name>
        <servlet-class>Controlador.Inventario_C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rendimiento_C</servlet-name>
        <servlet-class>Controlador.Rendimiento_C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario_C</servlet-name>
        <servlet-class>Controlador.Usuario_C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>ControladorL.PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarFichero</servlet-name>
        <servlet-class>Controlador.CargarFichero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>C_Programacio</servlet-name>
        <url-pattern>/C_Programacio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventario_C</servlet-name>
        <url-pattern>/Inventarion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rendimiento_C</servlet-name>
        <url-pattern>/Rendimienton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario_C</servlet-name>
        <url-pattern>/Usuarion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarFichero</servlet-name>
        <url-pattern>/CargarFichero</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
